---
import StudioSDKEditor from '@studiocms/wysiwyg/studio/components/StudioSDKEditor.astro';

const data = JSON.stringify({
	assets: [],
	styles: [],
	pages: [
		{
			frames: [
				{
					component: {
						type: 'wrapper',
						attributes: { id: 'iiag' },
						components: [
							{
								type: 'heading',
								attributes: { id: 'ibyg' },
								components: [{ type: 'textnode', content: 'New project Test' }],
							},
						],
						head: { type: 'head' },
						docEl: { tagName: 'html' },
					},
					id: 'TRTpJbERqAtcsjGH',
				},
			],
			id: 'qvCVh1lkdM4YZhUZ',
		},
	],
	symbols: [],
	dataSources: [],
	custom: { projectType: 'web', id: '' },
	__STUDIOCMS_HTML:
		'<div id="iiag"><h1 id="ibyg">New project Test</h1></div><style>* { box-sizing: border-box; } div {margin: 0;}</style>',
});
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor Testing</title>
</head>
<body>
<StudioSDKEditor content={data} />
</body>
</html>