---
import Editor from '@studiocms/wysiwyg/components/Editor.astro';

const data = JSON.stringify({
	assets: [],
	styles: [{ selectors: ['#iqf1'], style: { padding: '10px' } }],
	pages: [
		{
			frames: [
				{
					component: {
						type: 'wrapper',
						stylable: [
							'background',
							'background-color',
							'background-image',
							'background-repeat',
							'background-attachment',
							'background-position',
							'background-size',
						],
						attributes: { id: 'iiag' },
						components: [
							{
								type: 'text',
								attributes: { id: 'iqf1' },
								components: [{ type: 'textnode', content: 'Test' }],
							},
						],
						head: { type: 'head' },
						docEl: { tagName: 'html' },
					},
					id: 'TRTpJbERqAtcsjGH',
				},
			],
			id: 'qvCVh1lkdM4YZhUZ',
		},
	],
	symbols: [],
	dataSources: [],
	__STUDIOCMS_HTML:
		'<div id="iiag"><div id="iqf1">Test</div></div><style>* { box-sizing: border-box; } div {margin: 0;}#iqf1{padding:10px;}</style>',
});
---
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor Testing</title>
</head>
<body>
<Editor content={data} />
</body>
</html>